*{
    font-family: cursive;
}
body{
    background-color: bisque;
}
.caja-mayor{
    background-color:  darkgray;
    height: 1000px;
    width: 800px;
    margin-left: 200px;
    margin-top: 10px;
    border-radius: 20px;
}
.header1 h1 {
    position: absolute;
    margin-left: 250px;
    margin-top: 10px;
}
.header1{
    position: absolute;
    background-color: brown;
    height: 70px;
    width: 700px;
    margin-left: 45px;
    border-radius: 20px;
    top: 40px;
}
.aside{
    position: absolute;
    top: 190px;
    border-radius: 20px;
    background-color: rgb(240, 133, 240);
    height: 700px;
    width: 300px;
    display: flex;
    margin-left: 10px;
}
.aside h1 {
    position: relative;
    top: 250px;
    margin-left: 70px;
}
.main{
    position: absolute;
    background-color: rgb(139, 183, 209);
    margin-left: 330px;
    top: 190px;
    border-radius: 20px;
    height: 700px;
    width: 460px;
}
.main h1{
    position: relative;
    top: 10px;
    margin-left: 140px;
}
.article {
    position: absolute;
    background-color: rgba(97, 156, 243, 0.651);
    margin-left: 350px;
    margin-top: 270px;
    height: 595px;
    width: 425px;
    border-radius: 20px;
}
.article h1 {
    position: relative;
    margin-top: 10px;
    margin-left: 125px;
}
.figure {
    position: absolute;
    background-color: rgb(242, 245, 84);
    margin-left: 370px;
    margin-top: 350px;
    border-radius: 20px;
    width: 390px;
    height: 180px;
}
.figure h1 {
    position: relative;
    margin-left: 120px;
    margin-top: 60px;
}
.p {
    position: absolute;
    background-color: rgb(242, 245, 84);
    margin-left: 370px;
    margin-top: 550px;
    border-radius: 20px;
    width: 390px;
    height: 180px;
}
.p h1 {
    position: relative;
    margin-left: 180px;
    margin-top: 60px;
}
.footer {
    position: absolute;
    background-color: brown;
    border-radius: 20px;
    margin-top: 890px;
    margin-left: 10px;
    width: 780px;
    height: 100px;
}
.footer h1 {
    position: relative;
    margin-top: 20px;
    margin-left: 280px;
}
.nav {
    position: absolute;
    background-color: rgb(13, 107, 1);
    margin-left: 40px;
    margin-top: 105px;
    border-radius: 20px;
    height: 70px;
    width: 705px;
}
.nav h1 {
    position: relative;
    margin-left: 300px;
    margin-top: 10px;
}
.section {
    position: absolute;
    background-color: rgb(97, 97, 230);
    border-radius: 20px;
    margin-top: 750px;
    margin-left: 370px;
    width: 390px;
    height: 180;
}
.section h1 {
    position: relative;
    margin-left: 100px;
}